<div class="__ML-nav">
  <div class="__ML-nav-content">
    <a href="/feed/?doFeedRefresh=true">
      <img class="__ML-logo" src="" alt="LinkedIn Logo" />
    </a>
    <div class="__ML-nav-search">
      <!-- Search bar goes here -->
    </div>
    <div class="__ML-nav-links">
      <ul>
        <li class="__ML-nav-home">
          <a href="/feed/?doFeedRefresh=true">
            <img class="__ML-nav-home" src="" alt="Home" />
            <span class="__ML-nav-label">Home</span>
            <span class="__ML-nav-pendingdot"></span>
          </a>
        </li>
        <li class="__ML-nav-network">
          <a href="/mynetwork/?">
            <img alt="My Network" />
            <span class="__ML-nav-label">My Network</span>
            <span class="__ML-nav-pendingdot"></span>
          </a>
        </li>
        <li class="__ML-nav-jobs">
          <a href="/jobs/?">
            <img alt="Jobs" />
            <span class="__ML-nav-label">Jobs</span>
            <span class="__ML-nav-pendingdot"></span>
          </a>
        </li>
        <li class="__ML-nav-messages">
          <a href="/messaging/?">
            <img alt="Messages" />
            <span class="__ML-nav-label">Messaging</span>
            <span class="__ML-nav-pendingdot"></span>
          </a>
        </li>
        <li class="__ML-nav-notifications">
          <a href="/notifications/?">
            <img alt="Notifications" />
            <span class="__ML-nav-label">Notifications</span>
            <span class="__ML-nav-pendingdot"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="__ML-nav-user">
      <!-- User Menu goes here -->
    </div>
  </div>
</div>
